---
layout: default
title: Angular Zendesk Articles Search
---

<!--<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<link href="../src/spinner.css" rel="stylesheet">

<style>
    .zendesk-articles img {
        max-width: 100%;
    }

    .zendesk-articles__item {
        padding: .5em 1em;
        background: #f9f9f9;
        margin-bottom: .75em;
    }

    a.zendesk-articles__item-title {
        font-weight: bold;
    }
</style>

<!--<script src="node_modules/angular/angular.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

<!--<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>

<script src="../src/otZendesk.js"></script>
<script src="../testApp.js"></script>

<script>
    /* Code required for Angular to work with GitHub Pages.
        It replaces the standard Angular symbols {{ }} with {( )}
        Taken from http://stackoverflow.com/a/21845811
     */
    zendeskApp.config([
        '$interpolateProvider', function($interpolateProvider) {
            return $interpolateProvider.startSymbol('{(').endSymbol(')}');
        }
    ]);
</script>

<article class="markdown-body entry-content" itemprop="text" ng-app="zendeskApp" ng-controller="ZendeskController">
    <h1>Search Zendesk articles</h1>

    <p>Use the searchbox below to find Zendesk articles that contain your search string.</p>

    <div>
        <strong>Note:</strong> you can change the template used for showing each article. This page uses the following template:
        <div class="well">
            <pre>
&lt;div id="results"&gt;
    &lt;div ng-show="search.loading" class="loadersmall" style="margin: 0 auto;"&gt;&lt;/div&gt;

    &lt;div ng-show="searchResult"&gt;
        &lt;p ng-if="searchResult.length == 0"&gt;
            &lt;b&gt;No articles found.&lt;/b&gt;
        &lt;/p&gt;

        &lt;p ng-repeat="result in searchResult"&gt;
            &lt;a ng-href="{{result.html_url}}" target="_blank"&gt;
                {{result.title}}
            &lt;/a&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </pre>
        </div>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <div class="input-group col-md-12">
                <input type="text" ng-model="search.query" class="form-control input-lg" placeholder="Search..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" ng-click="searchArticles()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
            </div>
        </div>
    </form>

    <div id="results">
        <div ng-show="search.loading" class="loadersmall" style="margin: 0 auto;"></div>

        <div ng-show="searchResult">
            <p ng-if="searchResult.length == 0">
                <b>No articles found.</b>
            </p>

            <p ng-repeat="result in searchResult">
                <a ng-href="{(result.html_url)}" target="_blank">
                    {(result.title)}
                </a>
            </p>
        </div>
    </div>
</article>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!--<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
